
    {% load bootstrap4%}
    {%load static%}
    
    {{block.super}}
    {%block content%}
    
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        
    
      <title>New Image</title>
      {{form.media}}
    
    {% block styles %} 
    {% bootstrap_css %}
     
       {% endblock %}
    </head>
    
    <body>

            
            <h2>Posted:{{project.pub_date}}</h2>
            <h2>Title:{{project.title}}</h2>
            <p>Description:{{project.description|safe}}</p>
            <a href="{{project.link}}">View Project Link</a>
            <div>
                <img src="{{project.image.url}}" alt="image" height="300px;" width="300px;">
            </div>
            <a>Rate</a>
        
            <a href="{% url 'displayprofile' project.editor.id %}">View Profile</a>
        
    
                </body>
                </html>
    {%endblock%}
    